<huewi-light
  [light]="light">
</huewi-light>

<div class="row">
  <button md-button class="col-3" (click)="relax(light)">Relax</button>
  <button md-button class="col-3" (click)="reading(light)">Reading</button>
  <button md-button class="col-3" (click)="concentrate(light)">Concentrate</button>
  <button md-button class="col-3" (click)="energize(light)">Energize</button>
  <button md-button class="col-3" (click)="bright(light)">Bright</button>
  <button md-button class="col-3" (click)="dimmed(light)">Dimmed</button>
  <button md-button class="col-3" (click)="nightLight(light)">Nightlight</button>
  <button md-button class="col-3" (click)="goldenHour(light)">Golden hour</button>
</div>
