<huewi-light [light]="light" [editable]="true">
</huewi-light>

<br>

<div class="row">
  <button md-raised-button class="col-xs-6 col-md-3" (click)="relax(light)">Relax</button>
  <button md-raised-button class="col-xs-6 col-md-3" (click)="reading(light)">Reading</button>
  <button md-raised-button class="col-xs-6 col-md-3" (click)="concentrate(light)">Concentrate</button>
  <button md-raised-button class="col-xs-6 col-md-3" (click)="energize(light)">Energize</button>
  <button md-raised-button class="col-xs-6 col-md-3" (click)="bright(light)">Bright</button>
  <button md-raised-button class="col-xs-6 col-md-3" (click)="dimmed(light)">Dimmed</button>
  <button md-raised-button class="col-xs-6 col-md-3" (click)="nightLight(light)">Nightlight</button>
  <button md-raised-button class="col-xs-6 col-md-3" (click)="goldenHour(light)">Golden hour</button>
</div>