<huewi-light [light]="light" [editable]="true">
</huewi-light>

<br>

<div class="flexcontainer wrap justify-center">
  <button md-raised-button style="flex: 1 1 128px" (click)="relax(light)">Relax</button>
  <button md-raised-button style="flex: 1 1 128px" (click)="reading(light)">Reading</button>
  <button md-raised-button style="flex: 1 1 128px" (click)="concentrate(light)">Concentrate</button>
  <button md-raised-button style="flex: 1 1 128px" (click)="energize(light)">Energize</button>
  <button md-raised-button style="flex: 1 1 128px" (click)="bright(light)">Bright</button>
  <button md-raised-button style="flex: 1 1 128px" (click)="dimmed(light)">Dimmed</button>
  <button md-raised-button style="flex: 1 1 128px" (click)="nightLight(light)">Nightlight</button>
  <button md-raised-button style="flex: 1 1 128px" (click)="goldenHour(light)">Golden hour</button>
</div>
