<huewi-sensor 
  [sensor]="sensor">
</huewi-sensor>

<div>
  <div>sensor {{sensor.__key}}</div>
  <div>{{sensor.type}} - {{sensor.modelid}}</div>
  <div *ngIf="!expand" (click)="expand=true">
    <mat-icon>expand_more</mat-icon>
    <br>
  </div>
  <div *ngIf="expand">
    <div (click)="expand=false"> 
      <mat-icon>expand_less</mat-icon>
      <br>
    </div>
    <mat-divider></mat-divider>
    <div>
      <br>
    </div>
    <small>
      <div><b>Config: </b></div>
      <div>{{sensor.config | json}}</div>
      <div><b>State: </b></div>
      {{sensor.state | json}}
    </small>
  </div>
</div>
