<mat-card [@RoutingAnimations]>

  <div *ngIf="!selectedSensor">
    <mat-card-title>
      Sensors
      <small>
        <mat-form-field>
          <input matInput placeholder="Filter" [(ngModel)]="searchText">
        </mat-form-field>
      </small>
    </mat-card-title>
    <mat-list>
      <huewi-sensor mat-list-item
        *ngFor="let sensor of sensors | orderBy:['+name'] | filter:searchText:'name'"
        [sensor]="sensor">
      </huewi-sensor>
    </mat-list>
  </div>

  <div *ngIf="selectedSensor">
    <mat-card-title>
      <a *ngIf="back" routerLink="/sensors" replaceUrl="true"><mat-icon>navigate_before</mat-icon></a>
      {{selectedSensor.name}} - Details
    </mat-card-title>
    <huewi-sensor-details
      [sensor]="selectedSensor">
    </huewi-sensor-details>
  </div>
 
</mat-card>
