<mat-card [@RoutingAnimations]>

  <div *ngIf="!selectedSensor">
    <div class="flexcontainer">
      <mat-card-title style="flex: 3 1 128px">
        Sensors
      </mat-card-title>
      <mat-form-field style="flex: 1 1 128px">
        <input matInput placeholder="Filter" [(ngModel)]="searchText">
      </mat-form-field>
    </div>
    <mat-list>
      <huewi-sensor mat-list-item
        *ngFor="let sensor of sensors | orderBy:['+name'] | filter:searchText:'name'"
        [sensor]="sensor">
      </huewi-sensor>
    </mat-list>
  </div>

  <div *ngIf="selectedSensor">
    <mat-card-title>
      <a *ngIf="back" routerLink="/sensors" replaceUrl="true"><mat-icon>navigate_before</mat-icon></a>
      {{selectedSensor.name}} - Details
    </mat-card-title>
    <huewi-sensor-details
      [sensor]="selectedSensor">
    </huewi-sensor-details>
  </div>
 
</mat-card>
