<md-card [@RoutingAnimations]>

  <div *ngIf="!selectedSensor">
    <md-card-title>Sensors</md-card-title>
    <div>
      Filter: <input [(ngModel)]="searchText">
      <br><br>
    </div>
    <huewi-sensor 
      *ngFor="let sensor of sensors | orderBy:['+name'] | filter:searchText:'name'"
      [sensor]="sensor">
    </huewi-sensor>
  </div>

  <div *ngIf="selectedSensor">
    <md-card-title>
      <a [routerLink]="['/sensors']" [replaceUrl]="true"><md-icon>keyboard_arrow_left</md-icon></a>
      Sensor Details
    </md-card-title>
    <huewi-sensor-details
      [sensor]="selectedSensor">
    </huewi-sensor-details>
  </div>

</md-card>
