<mat-card [@RoutingAnimations]>

  <div *ngIf="!selectedGroup">
    <mat-card-title>
      <span (click)="changeGroupsType()">{{groupsType}}</span>
      <small>
        <mat-input-container>
          <input matInput placeholder="Filter" [(ngModel)]="searchText">
        </mat-input-container>
      </small>
    </mat-card-title>
    <huewi-group 
      *ngFor="let group of groups | HuewiGroupsFilter:groupsType | orderBy:['+type','+name'] | filter:searchText:'name'"
      [group]="group">
    </huewi-group>
  </div> 

  <div *ngIf="selectedGroup">
    <mat-card-title>
      <a *ngIf="back" [routerLink]="['/groups']" [replaceUrl]="true"><mat-icon>navigate_before</mat-icon></a>
      {{selectedGroup.name}} - Details
    </mat-card-title>
    <huewi-group-details
      [group]="selectedGroup">
    </huewi-group-details>
  </div>

</mat-card>
