<md-card [@RoutingAnimations]>

  <div *ngIf="!selectedGroup">
    <md-card-title
      (click)="changeGroupsType()">
      {{groupsType}}
    </md-card-title>
    <huewi-group 
      *ngFor="let group of groups | HuewiGroupsFilter:groupsType | orderBy : '+name'"
      [group]="group">
    </huewi-group>
  </div> 

  <div *ngIf="selectedGroup">
    <md-card-title>Group Details</md-card-title>
    <huewi-group-details
      [group]="selectedGroup">
    </huewi-group-details>
  </div>

</md-card>
