<huewi-rule 
  [rule]="rule">
</huewi-rule>

<div>
  <div>rule {{rule.__key}}</div>
  <mat-icon *ngIf="!expand" (click)="expand=true">expand_more</mat-icon><br>
  <div *ngIf="expand">
    <small>
      <mat-icon (click)="expand=false">expand_less</mat-icon>
      <mat-divider></mat-divider>

      <b>conditions :</b><br>
      <span *ngFor='let condition of rule.conditions; let last = last'>
        {{'{'}} {{condition.address}} {{condition.operator}}
        <span *ngIf='condition.value!==""'>'{{condition.value}}'</span> {{'}'}}
        <span *ngIf='!last'> & <br></span>
      </span>
      <br>
      <b>actions :</b><br>
      <span *ngFor='let action of rule.actions; let last = last'>
        {{'{'}} {{action.method}} {{action.address}} {{action.body | json}} {{'}'}}
        <span *ngIf='!last'> + <br></span>
      </span>
    </small>
  </div>
</div>
