<md-card [@RoutingAnimations]>

  <div *ngIf="!selectedLight">
    <md-card-title>
      Lights
      <small>
        <md-input-container>
          <input mdInput placeholder="Filter" [(ngModel)]="searchText">
        </md-input-container>
      </small>
    </md-card-title>
    <huewi-light 
      *ngFor="let light of lights | orderBy:['+name'] | filter:searchText:'name'"
      [light]="light">
    </huewi-light>
  </div>

  <div *ngIf="selectedLight">
    <md-card-title>
      <a *ngIf="back" [routerLink]="['/lights']" [replaceUrl]="true"><md-icon>navigate_before</md-icon></a>
      Light Details
    </md-card-title>
    <huewi-light-details
      [light]="selectedLight">
    </huewi-light-details>
  </div>

</md-card>
