<mat-card [@RoutingAnimations]>

  <div *ngIf="!selectedLight">
    <div class="flexcontainer">
      <mat-card-title style="flex: 3 1 128px">
        Lights
      </mat-card-title>
      <mat-form-field  style="flex: 1 1 128px">
        <input matInput placeholder="Filter" [(ngModel)]="searchText">
      </mat-form-field>
    </div>
    <huewi-light 
      *ngFor="let light of lights | orderBy:['+name'] | filter:searchText:'name'"
      [light]="light">
    </huewi-light>
  </div>

  <div *ngIf="selectedLight">
    <mat-card-title>
      <a *ngIf="back" routerLink="/lights" replaceUrl="true"><mat-icon>navigate_before</mat-icon></a>
      {{selectedLight.name}} - Details
    </mat-card-title>
    <huewi-light-details
      [light]="selectedLight">
    </huewi-light-details>
  </div>

</mat-card>
