<span class="row">
  <input *ngIf="editable" class="col-5 col-sm-3 col-xl-2"
    [(ngModel)]="light.name" (keyup)="rename(light, $event.target.value)">
  <span *ngIf="!editable" class="col-5 col-sm-3 col-xl-2"
    (click)="select(light)">
    {{light.name}}
  </span>
  <span class="col-5 col-sm-7 col-xl-8">
    <md-slider class="col-12"
      (change)="brightness(light, $event.value)"
      disabled="{{!light.state.on}}"
      [min]="0" [max]="255" [step]="1" [value]="light.state.bri">
    </md-slider>
  </span>
  <span class="col-2">
    <md-slide-toggle
      disabled="{{!light.state.reachable}}"
      [checked]="light.state.on"
      (click)="toggle(light)">
    </md-slide-toggle>
  </span>
</span>
