<div class="flexcontainer">
  <md-input-container *ngIf="editable" style="flex: 1 1 50px">
    <input matInput [(ngModel)]="light.name" (keyup)="rename(light, $event.target.value)">
  </md-input-container>
  <div *ngIf="!editable" style="flex: 1 1 50px"
    (click)="select(light)">
    {{light.name}}
  </div>
  <mat-slider style="flex: 5 1 100px"
    (change)="brightness(light, $event.value)"
    disabled="{{!light.state.on}}"
    [min]="0" [max]="255" [step]="1" [value]="light.state.bri">
  </mat-slider>
  <mat-slide-toggle style="flex: 0 1 10px" disabled="{{!light.state.reachable}}"
    [checked]="light.state.on"
    (change)="toggle(light)">
  </mat-slide-toggle>
</div>
