<div class="flexcontainer">
  <md-input-container *ngIf="editable" style="flex: 1 1 50px">
    <input mdInput [(ngModel)]="group.name" (keyup)="rename(group, $event.target.value)">
  </md-input-container>
  <div *ngIf="!editable" style="flex: 1 1 50px"
    (click)="select(group)">
    {{group.name}}
  </div>
  <md-slider style="flex: 5 1 100px"
    (change)="brightness(group, $event.value)"
    disabled="{{!group.action.on}}"
    [min]="0" [max]="255" [step]="1" [value]="group.action.bri">
  </md-slider>
  <md-slide-toggle style="flex: 0 1 10px"
    [checked]="group.action.on"
    (change)="toggle(group)">
  </md-slide-toggle>
</div>
