<div class={{theme}}>

<md-sidenav-container fullscreen>

  <md-toolbar color="primary">
      <button md-icon-button (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
      </button>
      <span>{{title}}</span>
    </md-toolbar>

  <nav md-tab-nav-bar #navbar>
    <a md-tab-link [routerLink]="['/home']" [replaceUrl]="true" routerLinkActive="active-link">Home</a>
    <a md-tab-link [routerLink]="['/groups']" [replaceUrl]="true" routerLinkActive="active-link">Groups</a>
    <a md-tab-link [routerLink]="['/lights']" [replaceUrl]="true" routerLinkActive="active-link">Lights</a>
    <a md-tab-link [routerLink]="['/bridges']" [replaceUrl]="true" routerLinkActive="active-link">Bridges</a>
    <a md-tab-link [routerLink]="['/about']" [replaceUrl]="true" routerLinkActive="active-link">About</a>
  </nav>

  <md-sidenav #sidenav>
    <md-nav-list>
      <a md-list-item [routerLink]="['/home']" [replaceUrl]="true" routerLinkActive="active-link" (click)="sidenav.toggle()"><md-icon>home</md-icon>Home</a>
      <a md-list-item [routerLink]="['/groups']" [replaceUrl]="true" routerLinkActive="active-link" (click)="sidenav.toggle()"><md-icon>group_work</md-icon>Groups</a>
      <a md-list-item [routerLink]="['/lights']" [replaceUrl]="true" routerLinkActive="active-link" (click)="sidenav.toggle()"><md-icon>lightbulb_outline</md-icon>Lights</a>
      <md-divider></md-divider>
      <a md-list-item [routerLink]="['/rules']" [replaceUrl]="true" routerLinkActive="active-link" (click)="sidenav.toggle()"><md-icon>assignment</md-icon>Rules</a>
      <a md-list-item [routerLink]="['/scenes']" [replaceUrl]="true" routerLinkActive="active-link" (click)="sidenav.toggle()"><md-icon>assignment_ind</md-icon>Scenes</a>
      <a md-list-item [routerLink]="['/schedules']" [replaceUrl]="true" routerLinkActive="active-link" (click)="sidenav.toggle()"><md-icon>alarm</md-icon>Schedules</a>
      <a md-list-item [routerLink]="['/sensors']" [replaceUrl]="true" routerLinkActive="active-link" (click)="sidenav.toggle()"><md-icon>all_out</md-icon>Sensors</a>
      <md-divider></md-divider>
      <a md-list-item [routerLink]="['/bridges']" [replaceUrl]="true" routerLinkActive="active-link" (click)="sidenav.toggle()"><md-icon>device_hub</md-icon>Bridges</a>
      <a md-list-item [routerLink]="['/about']" [replaceUrl]="true" routerLinkActive="active-link" (click)="sidenav.toggle()"><md-icon>info</md-icon>About</a>
      <md-divider></md-divider>
      <a md-list-item (click)="toggleTheme()"><md-icon>invert_colors</md-icon>Theme</a>
    </md-nav-list>
  </md-sidenav>

  <div class="container-fluid">
    <router-outlet>
    </router-outlet>
  </div>

</md-sidenav-container>

<huewi-connectionstatus>
</huewi-connectionstatus>

</div> <!--div class={{theme}}-->