<md-card [@RoutingAnimations]>

  <div *ngIf="!selectedRule">
    <md-card-title>
      Rules
      <small>
        <md-input-container>
          <input mdInput placeholder="Filter" [(ngModel)]="searchText">
        </md-input-container>
      </small>
    </md-card-title>
    <md-list>
      <huewi-rule md-list-item 
        *ngFor="let rule of rules | orderBy:['+name'] | filter:searchText:'name'"
        [rule]="rule" >
      </huewi-rule>
    </md-list>
  </div>

  <div *ngIf="selectedRule">
    <md-card-title>
      <a *ngIf="back" [routerLink]="['/rules']" [replaceUrl]="true"><md-icon>navigate_before</md-icon></a>
      Rules Details
    </md-card-title>
    <huewi-rule-details
      [rule]="selectedRule">
    </huewi-rule-details>
  </div>

</md-card>