<mat-card [@RoutingAnimations]>

  <div *ngIf="!selectedRule">
    <mat-card-title>
      Rules
      <small>
        <mat-form-field>
          <input matInput placeholder="Filter" [(ngModel)]="searchText">
        </mat-form-field>
      </small>
    </mat-card-title>
    <mat-list>
      <huewi-rule mat-list-item 
        *ngFor="let rule of rules | orderBy:['+name'] | filter:searchText:'name'"
        [rule]="rule" >
      </huewi-rule>
    </mat-list>
  </div>

  <div *ngIf="selectedRule">
    <mat-card-title>
      <a *ngIf="back" routerLink="/rules" replaceUrl="true"><mat-icon>navigate_before</mat-icon></a>
      {{selectedRule.name}} - Details
    </mat-card-title>
    <huewi-rule-details
      [rule]="selectedRule">
    </huewi-rule-details>
  </div>

</mat-card>