<md-card [@RoutingAnimations]>

  <div *ngIf="!selectedRule">
    <md-card-title>Rules</md-card-title>
    <div>
      Filter: <input [(ngModel)]="searchText">
      <br><br>
    </div>
    <md-nav-list>
      <huewi-rule md-list-item 
        *ngFor="let rule of rules | orderBy:['+name'] | filter:searchText:'name'"
        [rule]="rule" >
      </huewi-rule>
    </md-nav-list>
  </div>

  <div *ngIf="selectedRule">
    <md-card-title>
      <a [routerLink]="['/rules']" [replaceUrl]="true"><md-icon>keyboard_arrow_left</md-icon></a>
      Rules Details
    </md-card-title>
    <huewi-rule-details
      [rule]="selectedRule">
    </huewi-rule-details>
  </div>

</md-card>