<huewi-scene 
  [scene]="scene">
</huewi-scene>

<div>
  <div>scene {{scene.__key}}</div>
  <div *ngIf="!expand" (click)="expand=true">
    <mat-icon>expand_more</mat-icon>
    <br>
  </div>
  <div *ngIf="expand">
    <div (click)="expand=false"> 
      <mat-icon>expand_less</mat-icon>
      <br>
    </div>
    <mat-divider></mat-divider>
    <div>
      <br>
    </div>
    <small>
      <div>Lights: {{scene.lights}}</div>
      <div>Lastupdated: {{scene.lastupdated}}</div>
      <div>Owned by {{scene.owner}}</div>
    </small>
  </div>
</div>
