<md-card [@RoutingAnimations]>

  <div *ngIf="!selectedSchedule">
    <md-card-title>
      Schedules
      <input mdInput placeholder="Filter" [(ngModel)]="searchText">
    </md-card-title>
    <huewi-schedule 
      *ngFor="let schedule of schedules | orderBy:['+name'] | filter:searchText:'name'"
      [schedule]="schedule">
    </huewi-schedule>
  </div>

  <div *ngIf="selectedSchedule">
    <md-card-title>
      <a [routerLink]="['/schedules']" [replaceUrl]="true"><md-icon>navigate_before</md-icon></a>
      Schedules Details
    </md-card-title>
    <huewi-schedule-details
      [schedule]="selectedSchedule">
    </huewi-schedule-details>
  </div>

</md-card>
