<md-card [@RoutingAnimations]>

  <div *ngIf="!selectedSchedule">
    <md-card-title>Schedules</md-card-title>
    <div>
      Filter: <input [(ngModel)]="searchText">
      <br><br>
    </div>
    <huewi-schedule 
      *ngFor="let schedule of schedules | filter:searchText:'name'"
      [schedule]="schedule">
    </huewi-schedule>
  </div>

  <div *ngIf="selectedSchedule">
    <md-card-title>Schedule Details</md-card-title>
    <huewi-schedule-details
      [schedule]="selectedSchedule">
    </huewi-schedule-details>
  </div>

</md-card>
