<mat-card [@RoutingAnimations]>

  <div *ngIf="!selectedSchedule">
    <mat-card-title>
      Schedules
      <small>
        <mat-form-field>
          <input matInput placeholder="Filter" [(ngModel)]="searchText">
        </mat-form-field>
      </small>
    </mat-card-title>
    <mat-list>
      <huewi-schedule mat-list-item
        *ngFor="let schedule of schedules | orderBy:['+name'] | filter:searchText:'name'"
        [schedule]="schedule">
      </huewi-schedule>
    </mat-list>
  </div>

  <div *ngIf="selectedSchedule">
    <mat-card-title>
      <a *ngIf="back" routerLink="/schedules" replaceUrl="true"><mat-icon>navigate_before</mat-icon></a>
      {{selectedSchedule.name}} - Details
    </mat-card-title>
    <huewi-schedule-details
      [schedule]="selectedSchedule">
    </huewi-schedule-details>
  </div>

</mat-card>
