<huewi-group
  [group]="group">
</huewi-group>

<div class="row">
  <button md-button class="col-3" (click)="relax(group)">Relax</button>
  <button md-button class="col-3" (click)="reading(group)">Reading</button>
  <button md-button class="col-3" (click)="concentrate(group)">Concentrate</button>
  <button md-button class="col-3" (click)="energize(group)">Energize</button>
  <button md-button class="col-3" (click)="bright(group)">Bright</button>
  <button md-button class="col-3" (click)="dimmed(group)">Dimmed</button>
  <button md-button class="col-3" (click)="nightLight(group)">Nightlight</button>
  <button md-button class="col-3" (click)="goldenHour(group)">Golden hour</button>
</div>
