<huewi-schedule 
  [schedule]="schedule">
</huewi-schedule>

<div>
  <div>schedule {{schedule.__key}}</div>
  <mat-icon *ngIf="!expand" (click)="expand=true">expand_more</mat-icon>
  <div *ngIf="expand">
    <small>
      <mat-icon (click)="expand=false">expand_less</mat-icon>
      <mat-divider></mat-divider>
      Localtime: {{schedule.localtime}} Time: {{schedule.time}} (Created: {{schedule.created}})<br>
      {{schedule.command.method}} {{schedule.command.address}} {{schedule.command.body | json}}
    </small>
  </div>
</div>
