<huewi-schedule 
  [schedule]="schedule">
</huewi-schedule>

<div>
  <div>schedule {{schedule.__key}}</div>
  <div *ngIf="!expand" (click)="expand=true">
    <mat-icon>expand_more</mat-icon>
    <br>
  </div>
  <div *ngIf="expand">
    <div (click)="expand=false"> 
      <mat-icon>expand_less</mat-icon>
      <br>
    </div>
    <mat-divider></mat-divider>
    <div>
      <br>
    </div>
    <small>
      Localtime: {{schedule.localtime}} Time: {{schedule.time}} (Created: {{schedule.created}})<br>
      {{schedule.command.method}} {{schedule.command.address}} {{schedule.command.body | json}}
    </small>
  </div>
</div>
