<md-card [@RoutingAnimations]>
    
  <div *ngIf="!selectedBridge">
  <md-card-title>Bridges</md-card-title>
    <div class="row">
      <button md-raised-button class="col-6 col-md-2" (click)="discover()">Discover</button>
      <button md-raised-button class="col-6 col-md-2" (click)="scan()" *ngIf="!isScanning()">Scan</button>
      <button md-raised-button class="col-6 col-md-2" (click)="cancelScan()" color="accent" *ngIf="isScanning()">Cancel Scan</button>
      <span class="col-6 col-md-2"> Manual IP: </span>
      <input class="col-6 col-md-2" [(ngModel)]="manualIP">
      <button md-raised-button class="col-6 col-md-2" (click)="connect()">Connect</button>
      <button md-raised-button class="col-6 col-md-2" (click)="reload()">Reload</button>
    </div>
    <br>
    <md-nav-list>
      <huewi-bridge md-list-item *ngFor="let bridge of bridges" [bridge]="bridge">
      </huewi-bridge>
    </md-nav-list>
  </div>

  <div *ngIf="selectedBridge">
    <md-card-title>
      <a [routerLink]="['/bridges']" [replaceUrl]="true"><md-icon>keyboard_arrow_left</md-icon></a>
      Bridge Details
    </md-card-title>    
    <huewi-bridge-details [bridge]="selectedBridge">
    </huewi-bridge-details>
  </div>

</md-card>