<mat-card [@RoutingAnimations]>

  <div *ngIf="!selectedBridge">
  <mat-card-title>Bridges</mat-card-title>
    <div class="flexcontainer wrap justify-center">
      <button mat-raised-button style="flex: 0 1 128px" (click)="discover()">Discover</button>
      <button mat-raised-button style="flex: 0 1 128px" (click)="scan()" *ngIf="!isScanning()">Scan</button>
      <button mat-raised-button style="flex: 0 1 128px" (click)="cancelScan()" color="accent" *ngIf="isScanning()">Cancel Scan</button>
      <button mat-raised-button style="flex: 0 1 128px" [disabled]="true">Manual IP:</button>
      <input style="flex: 0 1 128px" [(ngModel)]="manualIP" (keydown.enter)="connect()">
      <button mat-raised-button style="flex: 0 1 128px" (click)="connect()">Connect</button>
      <button mat-raised-button style="flex: 0 1 128px" (click)="reload()">Reload</button>
    </div>
    <br>
    <mat-list>
      <huewi-bridge mat-list-item *ngFor="let bridge of bridges" [bridge]="bridge">
      </huewi-bridge>
    </mat-list>
  </div>

  <div *ngIf="selectedBridge">
    <mat-card-title>
      <a *ngIf="back" routerLink="/bridges" replaceUrl="true"><mat-icon>navigate_before</mat-icon></a>
      Bridge Details
    </mat-card-title>    
    <huewi-bridge-details [bridge]="selectedBridge">
    </huewi-bridge-details>
  </div>

</mat-card>
