<md-card [@RoutingAnimations]>

  <div *ngIf="!selectedBridge">
  <md-card-title>Bridges</md-card-title>
    <div class="flexcontainer wrap justify-center">
      <button md-raised-button style="flex: 0 1 128px" (click)="discover()">Discover</button>
      <button md-raised-button style="flex: 0 1 128px" (click)="scan()" *ngIf="!isScanning()">Scan</button>
      <button md-raised-button style="flex: 0 1 128px" (click)="cancelScan()" color="accent" *ngIf="isScanning()">Cancel Scan</button>
      <button md-raised-button style="flex: 0 1 128px" [disabled]="true">Manual IP:</button>
      <input style="flex: 0 1 128px" [(ngModel)]="manualIP">
      <button md-raised-button style="flex: 0 1 128px" (click)="connect()">Connect</button>
      <button md-raised-button style="flex: 0 1 128px" (click)="reload()">Reload</button>
    </div>
    <br>
    <md-list>
      <huewi-bridge md-list-item *ngFor="let bridge of bridges" [bridge]="bridge">
      </huewi-bridge>
    </md-list>
  </div>

  <div *ngIf="selectedBridge">
    <md-card-title>
      <a [routerLink]="['/bridges']" [replaceUrl]="true"><md-icon>navigate_before</md-icon></a>
      Bridge Details
    </md-card-title>    
    <huewi-bridge-details [bridge]="selectedBridge">
    </huewi-bridge-details>
  </div>

</md-card>