/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

@import 'theme';

html {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

html, body, material-app, md-sidenav-container {
    margin: 0;
    width: 100%;
    height: 100%;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

button:focus, input:focus {
    outline: none;
}

input {
    border-color: whitesmoke;
}

md-card {
    margin: 8px;
}
