html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

html {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.flexcontainer {
    display: flex;
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

button:focus, input:focus {
    outline: none;
}

mat-card {
    margin: 8px;
}
