<md-card>

  <div *ngIf="!selectedScene">
    <md-card-title>Scenes</md-card-title>
    <div>
      Filter: <input [(ngModel)]="searchText">
      <br><br>
    </div>
    <huewi-scene 
      *ngFor="let scene of scenes | orderBy:['+name'] | filter:searchText:'name'"
      [scene]="scene">
    </huewi-scene>
  </div>

  <div *ngIf="selectedScene">
    <md-card-title>
      <a [routerLink]="['/scenes']" [replaceUrl]="true"><md-icon>keyboard_arrow_left</md-icon></a>
      Scene Details
    </md-card-title>
    <huewi-scene-details
      [scene]="selectedScene">
    </huewi-scene-details>
  </div>

</md-card>
