<mat-card>

  <div *ngIf="!selectedScene">
    <mat-card-title>
      Scenes
      <small>
        <mat-form-field>
          <input matInput placeholder="Filter" [(ngModel)]="searchText">
        </mat-form-field>
      </small>
    </mat-card-title>
    <mat-list>
      <huewi-scene mat-list-item
        *ngFor="let scene of scenes | orderBy:['+name'] | filter:searchText:'name'"
        [scene]="scene">
      </huewi-scene>
    </mat-list>
  </div>

  <div *ngIf="selectedScene">
    <mat-card-title>
      <a *ngIf="back" [routerLink]="['/scenes']" [replaceUrl]="true"><mat-icon>navigate_before</mat-icon></a>
      {{selectedScene.name}} - Details
    </mat-card-title>
    <huewi-scene-details
      [scene]="selectedScene">
    </huewi-scene-details>
  </div>

</mat-card>
