<md-card>

  <div *ngIf="!selectedScene">
    <md-card-title>
      Scenes
      <small>
        <md-input-container>
          <input mdInput placeholder="Filter" [(ngModel)]="searchText">
        </md-input-container>
      </small>
    </md-card-title>
    <md-list>
      <huewi-scene md-list-item
        *ngFor="let scene of scenes | orderBy:['+name'] | filter:searchText:'name'"
        [scene]="scene">
      </huewi-scene>
    </md-list>
  </div>

  <div *ngIf="selectedScene">
    <md-card-title>
      <a *ngIf="back" [routerLink]="['/scenes']" [replaceUrl]="true"><md-icon>navigate_before</md-icon></a>
      {{selectedScene.name}} - Details
    </md-card-title>
    <huewi-scene-details
      [scene]="selectedScene">
    </huewi-scene-details>
  </div>

</md-card>
