<md-card>
  <md-card-subtitle>Details</md-card-subtitle>
  <div class="flexcontainer wrap justify-center">
    <div style="flex: 0 1 256px">
      Id: {{config.bridgeid.toLowerCase()}}
    </div>
    <div style="flex: 0 1 256px">
      Name: {{config.name}}
    </div>
    <div style="flex: 0 1 256px">
      Model: {{config.modelid}}
    </div>
    <div style="flex: 0 1 256px">
      Timezone: {{config.timezone}}
    </div>
    <div style="flex: 0 1 256px">
      Mac: {{config.mac}}
    </div>
    <div style="flex: 0 1 256px">
      Software: {{config.swversion}}
    </div>
    <div style="flex: 0 1 256px">
      API: {{config.apiversion}}
    </div>
    <div style="flex: 0 1 256px">
      Datastore: {{config.datastoreversion}}
    </div>
  </div>
</md-card>

<br>

<md-card>
  <md-card-subtitle>Whitelist authorisations</md-card-subtitle>
  <div class="flexcontainer" *ngFor="let listed of whitelist | orderBy:['-last use date']">
    <div style="flex: 1 1 256px" (click)="link(listed.__key)">
      {{listed.name}}
      <small>
        {{listed["last use date"]}}
        <small>
          <!-- {{listed["create date"]}} -->
          <small>
            {{listed.__key}}
          </small>
        </small>
      </small>    
      <md-icon *ngIf="isCurrent(listed.__key)">link</md-icon> 
    </div>
    <button md-raised-button style="flex: 0 1 128px" [disabled]="isCurrent(listed.__key)" (click)="delete(listed.__key)">
      <md-icon *ngIf="isCurrent(listed.__key)">link</md-icon>
      Delete
    </button>
  </div>
</md-card>
