<span class="row">
  <span class="col-3">
    {{huepiService.MyHue.BridgeConfig.name}}
  </span>
  <span class="col-3">
    {{huepiService.MyHue.BridgeConfig.bridgeid}}
  </span>
  <span class="col-3">
    {{huepiService.MyHue.BridgeConfig.mac}}
  </span>
  <span class="col-3">
    {{huepiService.MyHue.BridgeConfig.apiversion}}
  </span>
  <span class="col-3">
    {{huepiService.MyHue.BridgeConfig.swversion}}
  </span>
  <span class="col-3">
    {{huepiService.MyHue.BridgeConfig.modelid}}
  </span>
  <span class="col-3">
    {{huepiService.MyHue.BridgeConfig.timezone}}
  </span>
</span>
