<span class="row">
  <span class="col-3">
    Name: {{config.name}}
  </span>
  <span class="col-3">
    Model: {{config.modelid}}
  </span>
  <span class="col-3">
    Software: {{config.swversion}}
  </span>
  <span class="col-3">
    API: {{config.apiversion}}
  </span>
  <span class="col-3">
    Datastore: {{config.datastoreversion}}
  </span>
  <span class="col-3">
    Id: {{config.bridgeid}}
  </span>
  <span class="col-3">
    Mac: {{config.mac}}
  </span>
    <span class="col-3">
    Timezone: {{config.timezone}}
  </span>
</span>
